<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Universidad Nacional de Jujuy</title>
</head>
<body>
	<header>
		<h1>Programación Visual</h1>
	</header>

	<nav>
		<ul>
			<ul>
			<li><a href="index.html">Inicio</a></li>
			<li><a href="https://www.fi.unju.edu.ar/" target="blank">Fi
					Unju</a></li>
			<li><a
				href="https://virtual.unju.edu.ar/course/view.php?id=2540"
				target="blank">Aula Virtual</a></li>
			<li><a href="#sobre-nosotros">Sobre nosotros</a></li>
			<li><a href="#contacto">Contacto</a></li>
		</ul>
		</ul>
	</nav>

	<main>

		<section id="section-one">
			<img alt="logopv" src="/images/logopv.png">
			<h2>Clases</h2>
			<p>Modalidad virtual</p>
			<h3>Teoría</h3>
			<ul>
				<li>Miércoles de 14 a 17</li>
			</ul>
			<h3>Práctica</h3>
			<ol>
				<li>Comisión 1
					<ul>
						<li>Lunes de 18 a 21</li>
					</ul>
				</li>
				<li>Comisión 2
					<ul>
						<li>Jueves de 14 a 17</li>
					</ul>
				</li>
				<li>Comisión 3
					<ul>
						<li>Viernes de 18 a 21</li>
					</ul>
				</li>
			</ol>
			</section>
			<section id="section-two">
			<h2>Contenido</h2>
			
			<section>
			<h2>Programación Visual</h2>
			<p>La materia de Programación Visual en el año 2024 se centra en
				enseñar a los estudiantes habilidades avanzadas de programación para
				el desarrollo de aplicaciones web. A lo largo del curso, se cubrirán
				diversos temas clave que incluyen tanto conceptos teóricos como
				prácticos relacionados con el desarrollo de software.</p>
				
		</section>
			<h3>SEMANA 1</h3>
			<div>
				<p>Objetivos</p>
				<p>
					<b>Que los estudiantes Instalen las herramientas para
						desarrollo; Java JDK 19 - Spring Tool Suite <br>Que puedan
						expresar las consignas de ejercicios en un formato de Historias de
						Usuario y la representen en Proyectos de GitHub <br>Introducir
						en el manejo del lenguaje de programación Java: Creación de
						clases, atributos, métodos y estructuras de control selectivas <br>Que
						puedan subir el desarrollo de ejercicios en el repositorio de
						GitHub
					</b>
				</p>
			</div>
			</section>
			
			<section>
				<h3>Unidad II: Introducción a Spring Boot</h3>
				<p>Arquitectura de aplicaciones Web. Herramientas necesarias.
					¿Qué es un Framework? Evolución de Spring. Módulos disponibles.
					Arquitectura de una aplicación con Spring. Creación de proyectos
					con Spring Boot en un IDE. Concepto de Controladores. Gestión de
					peticiones con RequestMapping. Introducción a HTML. Estructura de
					un documento HTML. Introducción a CCS. Creación de un sitio Web
					HTML.</p>
			</section>


		<section id="section-three">
			<h2>Clases de consulta</h2>
			<table border="1">
				<tr>
					<th>Profesor</th>
					<th>Horario</th>
					<th>Enlace Meet</th>
				</tr>
				<tr>
					<td>Ariel Vega</td>
					<td>Viernes de 8:30 a 9:30</td>
					<td><a href="https://meet.google.com/ujm-tauq-tfg">https://meet.google.com/ujm-tauq-tfg</a></td>
				</tr>
				<tr>
					<td>Calonia Apaza</td>
					<td>Jueves de 17:00 a 18:00</td>
					<td><a href="https://meet.google.com/wwk-whaf-yxi">https://meet.google.com/wwk-whaf-yxi</a></td>
				</tr>
				<tr>
					<td>Juan Carlos Rodriguez</td>
					<td>Miércoles de 18:00 a 19:00</td>
					<td><a href="https://meet.google.com/oxt-kfay-uko">https://meet.google.com/oxt-kfay-uko</a></td>
				</tr>
				<tr>
					<td>Gustavo Sosa</td>
					<td>Jueves de 20:00 a 21:00</td>
					<td><a href="https://meet.google.com/doe-pptp-zyg">https://meet.google.com/doe-pptp-zyg</a></td>
				</tr>
			</table>
		</section>
	</main>

	<aside>
		<p>Bibioteca Digital CID UNJu</p>
		<a href="https://www.bidi.la/" target="blank"> <img
			alt="CID-Ingenieria" src="/images/CID-Ingenieria.jpeg">
		</a>
		<p>Bibiotecas Digitales</p>
		<a href="https://virtual.unju.edu.ar/bibliotecas/" target="blank">
			<img alt="bibliodig" src="/images/bibliodig.png">
		</a>
	</aside>

	<footer>
		<p>Contacto: brianrodriguzlprc@gmail.com</p>
		<p>Redes Sociales: 
			
			<a href="https://github.com/PRodriguezBrianAdrian">GitHub</a>
		</p>
	</footer>
</body>
</html>